#posts {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    [id^="post-"] {

        position: relative;
        padding: 2rem;
        border-radius: 1rem;
        background-color: $color-secondary-2;
        color: $text-primary;


        .post-creator {

            position: absolute;
            top: 5px;
            left: 15px;

        }

    }

}
